@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    background-color:#2d3436;
    padding: 0px 100px 0px 100px;
}
header, footer{
    background-color: #2d3436;
    color: white;
    display: flex;
    justify-content: center;
}
nav {
    background-color: #eb6778;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    border-radius: 50px;
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
    text-align: center;
    padding-left: 20px;
}
nav h1{
    color: white;
}
section{
    padding: 50px;
    margin-top: 50px;
    background-color: #eb6778;
    border-radius: 10px;
}
nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#eb6778;
    height: 100%;
}
nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    height: 100%;
    font-size: 26px;
    text-align: center;
    width: 155px;
}
nav img{
    border: 2px solid #eb6778;
}
.hide {
    border-radius: 50px;
}
.navOp{
    border: 2px solid white;
    border-top: none;
    border-bottom: none;
}
.logoutButton {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: red;
    border: none;
    border-radius: 50%;
    width: 87px;
    height: 87px;
    font-size: 16px;
}
.hide form {
    position: absolute;
    width: 87px;
    height: 87px;
    padding: 0;
}
img {
    width: 87px;
    height: 87px;
    border-radius: 50%;
}
.hide:hover .logoutButton {
    display: block;
}

.hide button:hover {
    background-color: red;
    cursor: pointer;
}

nav a:hover, button:hover {
    background-color: #2d3436;
    color: white;
}
.blogPost{
    padding: 20px;
    border:2px solid white;
    border-radius: 5px;
    display:flex; 
    flex-direction:column;
    color: white;
}
.blogPost>input,.blogPost>textarea{
    padding: 10px;
}
.blogPost>div>input {
    display: none;
}
textarea {
    height: 150px;
}
.blogPost>div{
    float: right;
}

/* blog card */

.card {
    color: white;
    display: flex;
    justify-content: space-around;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.cardUserImg {
    width: 57px;
    height: 57px;
    border: 2px solid white;   
}

.card2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:70%;
}

.card3{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.card2 p {
    word-wrap: break-word;
    white-space:pre-line;
    margin-bottom: 10px;
}
.cardImg {
    border-radius: 10px;
    height: auto;
    width:400px;
}

.card2 h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Profile file */
.profile {
    display: flex;
    justify-content: space-around;
    width: auto;
}
.profile img {
    border-radius: 5px;
    border:2px solid white;
    height: 308px;
    width: auto; 
    object-fit: contain;
}
.editProfile{
    padding: 20px;
    border:2px solid white;
    border-radius: 5px;
    display:flex; 
    flex-direction:column;
}
.editProfile input, .editProfile label{
    margin: 10px;
}
.editProfile input[type="file"] {
    display: none;
}
.editProfile .custom-file-upload, input {
    border: 1px solid white;
    background-color:white;
    padding: 6px 12px;
}
.error {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    font-size: 10px;
}